body {
  background: lightblue;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}
#imgpic{
  height: 65px;
  width: 65px;
}
.dot {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  display: inline-block;
}
.reddot
{
  background-color: red;
}
.greendot
{
  background-color:green;
}
.bluedot
{
  background-color:blue;
}
.yellowdot
{
  background-color:yellow;
}
.controls
{
  height: 25px;
  width: 25px;
  margin-left:20px;
}

.notes-container {
  width: 100%;
}


#pinedNotes
{
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
}
#notpinedNotes
{
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  flex-wrap: wrap;
}

#noteDiv
{
  border-radius: 10%;
  margin: 20px;
  width: 300px;
}
#Pin , #unPin
{
  width: 100%;
  text-align: center;
}